@mixin moveForward($distance) {
  .card {
    transform: translate3d(4ch, -0.32in, 4em) scale(1.2);
    box-shadow: -1rem 1rem 3rem black;
  }
}

@mixin rotate($deg) {
  transform: rotateX($deg);
}

@mixin cardList($colors) {
  $len: length($colors);
  @for $i from 1 through $len {
    &:nth-child(#{$i}) .card {
      z-index: $len - $i;
      background-color: nth($colors, $i);
    }
  }
}

// standard size of playing card: 62x88
@mixin sizeCard($scale) {
  width: 62px * $scale;
  height: 88px * $scale;
}
