@import "mixin";

$main-color: #2d3250;
$table-color: #424769;
$card-color: #7077a1;
$text-color: #f6b17a;
$great-pred-color: #dcffb7;
$bad-pred-color: #ff6868;
$gap: 60px;
$gap1200: 40px;
$gap700: 20px;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 62.5%;
}

body {
  user-select: none;
  overflow: hidden;
  background-color: $main-color;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  perspective: 1000px;
}

svg,
svg path {
  fill: $text-color;
}

.btn {
  cursor: pointer;
}

.hidden {
  display: none !important;
}

/* tabel card section */

#table {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: $gap;
  padding: $gap;
  @include rotate(45deg);

  z-index: 1;

  &.rotate-animation {
    animation: rotateAnimation 1s ease-in-out forwards;
  }

  @keyframes rotateAnimation {
    from {
      @include rotate(45deg);
    }
    to {
      @include rotate(0deg);
    }
  }

  &::after {
    content: "";
    position: absolute;
    background-color: $table-color;
    border-radius: 8px;
    width: 100%;
    height: 100%;

    z-index: -1;
  }

  &.wave-animation::before {
    content: "";
    position: absolute;
    top: -20px;
    left: -20px;
    width: calc(100% + 40px);
    height: calc(100% + 40px);

    z-index: -2;

    box-shadow: 0 0 10px 10px inset $main-color;
    background-color: $table-color;
    animation: waveAnimation 3.1s ease-in-out;
  }

  @keyframes waveAnimation {
    @include waveAnimation;
  }
}

.card {
  @include sizeCard(4);
  border-radius: 4px;

  background-color: $card-color;
  color: $text-color;
  box-shadow: 0 0 0.8rem 0.2rem $text-color;

  position: relative;
  transform-style: preserve-3d;
  transition: transform 0.5s, box-shadow 0.5s ease-in-out;

  display: flex;
  justify-content: center;
  align-items: center;

  .card-front,
  .card-back {
    width: 92%;
    height: 92%;
    position: absolute;
    backface-visibility: hidden;
    .icon {
      width: auto;
      height: 40%;
    }
  }

  .card-front {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .card-back {
    transform: rotateY(180deg);
    border: 2px solid $text-color;

    display: grid;
    grid-template-rows: repeat(2, 50%);

    p {
      border-top: 2px solid $text-color;
      padding: 8% 16px;
      font-size: 1.6rem;
      text-align: center;
    }
    div {
      display: flex;
      align-items: center;
      justify-content: center;

      width: 100%;
      height: 100%;

      .icon {
        height: 80%;
      }
    }
  }
}

.btn:hover .card {
  transform: translate3d(4ch, -0.32in, 4em) scale(1.2);
  box-shadow: 0 0 1rem 0.8rem $text-color;
}

.btn.active .card {
  transform: rotateX(4deg) rotateY(180deg) rotateZ(0);
  box-shadow: 0 0 0.8rem 0.2rem $text-color; /* Default prediction */
}

/* Changes the shadow color of the card when it's a great prediction */
.btn.active .great {
  box-shadow: 0 0 0.8rem 0.2rem $great-pred-color;
}

/* Changes the shadow color of the card when it's a bad prediction */
.btn.active .bad {
  box-shadow: 0 0 0.8rem 0.2rem $bad-pred-color;
}

/* menu btn section */

.btn-menu {
  width: 40px;
  height: 40px;
  position: absolute;
  top: 2.8vh;

  z-index: 100;

  svg {
    width: 40px;
    height: 40px;
  }
}

#btn-reload {
  right: 2.8vh;
}
#btn-save {
  right: calc(2.8vh + 60px);
}
#btn-save:not(:hover)::before {
  content: "";
  border-radius: 50%;

  width: calc(100% + 4px);
  height: calc(100% + 4px);
  position: absolute;
  top: -2px;
  left: -2px;

  z-index: -2;

  animation: waveAnimation 3s ease-in-out infinite;
}

/* MEDIA SECTION */

@media screen and (max-width: 1200px) {
  #table {
    gap: $gap1200;
    padding: $gap1200;
  }
  .card {
    @include sizeCard(2.4);
    .card-back p {
      font-size: 1rem;
      padding: 8px;
    }
  }
}
@media screen and (max-width: 600px) {
  #table {
    gap: $gap700;
    padding: $gap700;
  }
  .card {
    @include sizeCard(1.6);
    .card-back p {
      font-size: 0.68rem;
      padding: 4px;
    }
  }
}

@media screen and (max-width: 300px) {
  #table {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
  }
}
