@import "mixin";

$main-color: #2d3250;
$table-color: #424769;
$card-color: #7077a1;
$text-color: #f6b17a;
$gap: 60px;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 62.5%;
}

body {
  user-select: none;
  overflow: hidden;
  background-color: $main-color;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  perspective: 1000px;
}

.icon {
  width: auto;
  height: 80%;
  fill: $text-color;
  margin: auto;
}

#table {
  background-color: $table-color;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: $gap;
  padding: $gap;
  border-radius: 8px;
  @include rotate(45deg);
}

.btn {
  cursor: pointer;
  &:hover {
    @include hoverCard();
  }
  &:active {
    @include openCard();
  }
}

.card {
  @include sizeCard(4);
  border-radius: 4px;

  background-color: $card-color;
  color: $text-color;
  box-shadow: 0 0 0.8rem 0.2rem $text-color;

  position: relative;
  transform-style: preserve-3d;
  transition: transform 0.5s, box-shadow 0.5s ease-in-out;

  display: flex;
  justify-content: center;
  align-items: center;

  .card-front,
  .card-back {
    width: 92%;
    height: 92%;
    position: absolute;
    backface-visibility: hidden;
  }

  .card-front {
    display: flex;
    align-items: center;
    justify-content: center;
    .icon {
      height: 40%;
    }
  }

  .card-back {
    transform: rotateY(180deg);
    background-color: transparent;
    border: 2px solid $text-color;

    display: grid;
    grid-template-rows: repeat(2, 50%);
    text-align: center;
    p {
      border-top: 2px solid $text-color;
      padding-top: 8%;
      font-size: 1.2rem;
    }
  }
}
